
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #110a0a;
    color: #fff;
}


.header {
    background: #3b82f6;
    padding: 20px;
    text-align: center;
}


.galeria {
    padding: 40px 20px;
    text-align: center;
}

.galeria h2 {
    margin-bottom: 30px;
}


.lista-mascotas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 30px;
}


.mascota {
    background: #eee;
    color: #000;
    border-radius: 12px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.mascota:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

.mascota img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.mascota h3 {
    margin: 15px 0 10px;
}

.mascota p {
    font-size: 0.9rem;
}
.boxpets {
    display: flex;
    justify-content: center;
}


.volver {
    text-decoration: none;
    color: #eee;
    font-size: 20px;
    padding: 20px;
    transition: 0.3s;
}

.volver:hover {
    font-size: 25px;
    padding: 20PX;
    background-color: rgba(255, 255, 255, 0.425);
    border-radius: 40PX;
}


