body, html {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #110a0a;
}

/* Header */
.header {
    display: flex;
    background: #3b82f6;
    color: white;
    padding: 20px;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    min-width: 365px;
}

/* Navegación */
.items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    list-style: none;
    padding: 0;
}

.item {
    text-decoration: none;
    color: #eee;
    transition: 0.3s;
}

.item:hover {
    padding: 10px;
    font-weight: bolder;
    background-color: #ffffff36;
    border-radius: 10px;
}

/* Main */
.principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 30px;
}

.perfil {
    height: auto;
    width: 25vw;
    clip-path: circle(35%);
    border-radius: 1px solid #3b82f6;
}

.sobre__mi p {
    max-width: 40wv;
    background-color: #110a0a;
}

/* Sections */
.sections {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #eee;
    border-radius: 10px;
    padding: 20px;
    flex: 1 1 250px;
    max-width: 80%;
    min-width: 80%;
}

.sections h2 {
    color: #a4a4a4;
}

.sections p {
    padding: 20px;
}

.proyectos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 30px;
    text-align: center;
}

.proyecto__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 10px;
    background-color: #015aff;
    border-radius: 8px;
    transition: 0.3s;
}

.enlaces {
    text-decoration: none;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.ver__mas {
    text-decoration: none;
    color: rgb(134, 204, 231);
    transition: 0.3s;
    padding: 4px;
}

.ver__mas:hover {
    background-color: #ffffff36;
    border-radius: 4px;
}

.proyecto__link:hover {
    font-weight: bolder;
    font-size: 15px;
    background-color: #548df8;
    border-radius: 10px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

input, button {
    font-size: 20px;
    border-radius: 8px;
    border-color: #92b7f3;
    padding: 10px;
}

.boxpets {
    display: flex;
    justify-content: center;
}

.pets {
    text-decoration: none;
    color: #eee;
    font-size: 20px;
    padding: 20px;
    transition: 0.3s;
}

.pets:hover {
    font-size: 25px;
    padding: 20PX;
    background-color: rgba(255, 255, 255, 0.425);
    border-radius: 40PX;
}
 
@media(max-width: 880px){
    .proyectos {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }
}

@media(max-width: 500px){
    .proyectos{
        display: grid;
        grid-template-columns: 1fr;
    }
}