body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #110a0a;
}

header {
    background: #3b82f6;
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 10px;
    padding: 5px 10px;
    border-radius: 5px;
}

nav ul li:hover {
    background: #1e40af;
    transform: scale(1.1);
    transition: all 0.3s ease;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #dbeafe;
}

section {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: rgb(245, 242, 242);
    margin: 20px;
    border-radius: 8px;
}

form input,
button {
    display: block;
    margin: 10px 0;
    padding: 10px;
}

button {
    background: #3b82f6;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

section+a {
    display: block;
    text-align: center;
    margin: 20px auto;
    text-decoration: none;
    font-weight: bold;
    color: #3b82f6;
    padding: 10px;
    margin: 0 50rem;
}

section>h2+ul>li>a {
    text-decoration: none;
    color: hsl(66, 23%, 9%);
}

section>h2+ul>li>a:hover {
    font-weight: bold;
    text-shadow: #1e40af;
    color: hsl(199, 94%, 47%);
    transform: scale(1.1);
    transition: all 0.3s ease;
}

section+a:hover {
    background-color: #dee0e7;
    border-radius: 20px;
    transform: scale(1.1);
    transition: all 0.3s ease;
}

button:hover {
    background: #1e40af;
    transform: scale(1.1);
    transition: all 0.3s ease;
}

.lista-mascotas {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.mascota {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
    transition: transform 0.3s ease;
}

.mascota:hover {
    transform: translateY(-5px);
}

.mascota img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}

.mascota h3 {
    color: #3b82f6;
    margin: 10px 0;
}

.mascota p {
    color: #555;
    font-size: 0.95em;
    line-height: 1.4;
}

.volver {
    display: block;
    text-align: center;
    margin: 20px auto;
    text-decoration: none;
    font-weight: bold;
    color: #3b82f6;
    padding: 10px;
    margin: 0 50rem;
}

.volver:hover {
    background-color: #dee0e7;
    border-radius: 20px;
    transform: scale(1.1);
    transition: all 0.3s ease;
}